<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangwolf.module_home">

    <application>
        <activity
            android:name=".ui.activity.WatchVideoActivity"
            android:theme="@style/activity.Theme"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>
    </application>
</manifest>
