<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangwolf.module_login">

    <application>
        <activity android:name=".functions.login.LoginActivity"></activity>
        <activity android:name=".functions.login.RegisterActivity"></activity>
    </application>
</manifest>
