<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangwolf.module_login">

    <application>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity.Theme"></activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activity.Theme"></activity>
    </application>
</manifest>
